server:
  port: 8080
spring:
  application:
    name: expense-tracker
  datasource:
    platform: postgres
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/expense_tracker
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    baseline-on-migrate: true
    enabled: true
    baseline-version: 1
    baseline-description: "init"
    locations: classpath:db/migration
    validate-on-migrate: true