logging:
  level:
    root: WARN
    hu.projects.expense_tracker: INFO
    org.springframework.web: WARN
    org.springframework.security: WARN
    org.hibernate: OFF
    org.flywaydb: INFO
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false